<div class="navbar">
    <div class="container">
        <img src="/Tedx - Logo - Black.png" alt="">

        <img id="mobile-cta" class="mobile-menu" src="/menu.svg" alt="Open Navigation">

        <nav>
            <img id="mobile-exit" class="mobile-menu-exit" src="/exit.svg" alt="Close Navigation">

            <ul class="secondary-nav">
                <li class="current"><a href="https://www.instagram.com/tedx_mite" target="_blank">Instagram</a></li>
            </ul>
        </nav>
    </div>
</div>

<section class="hero">
    <div class="container">
        <div class="left-col">
            <h2 class="subhead">Ticket #{{ticketNo}}</h2>
            <h1>{{attendeeName}}</h1>
            {{#if miteIan}}
            <h3 class="miteian">MITEian</h3>
            {{else}}
            <h3 class="miteian">Non MITEian</h3>
            {{/if}}
            {{#if ticketType}}
            <h1 class="premium-pass">PREMIUM PASS</h1>
            {{else}}
            <h1 class="standard-pass">STANDARD PASS</h1>
            {{/if}}
        </div>
    </div>
</section>

<section class="contact-section">
    <div class="container">
        <div class="container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.7650667470352!2d74.9638998749198!3d13.050620687272021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba3557f8322286d%3A0x258a2e8d6d4b45b0!2sMangalore%20Institute%20of%20Technology%20and%20Engineering%2C%20MITE!5e0!3m2!1sen!2sin!4v1700680221335!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>

<script>
    const mobileBtn = document.getElementById('mobile-cta')
    nav = document.querySelector('nav')
    mobileBtnExit = document.getElementById('mobile-exit');

    mobileBtn.addEventListener('click', () => {
        nav.classList.add('menu-btn')
    })

    mobileBtnExit.addEventListener('click', () => {
        nav.classList.remove('menu-btn')
    })

</script>